::-webkit-scrollbar
{
    background-color: transparent;
    width: 0;
}
::-webkit-scrollbar-thumb
{
    background-color: red;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
}
.hero{
    display: flex;
    height: 68vh;
    background: #151515;
    backdrop-filter: blur(50px);
    
  
}

.img {
    width: 40%;
    height: 50vh;
}
.img img{
position: relative;
top: -40px;
width: 480px;
transition: 0.3s;
cursor: pointer;
}
.img img:hover{
    transform: scale(1.1);
}
.hero .text{
    width: 40%;
    color: white;
    text-align: center;
    margin-top: 150px;  
}
.hero .text h1{
    font-size: 40px;
    font-weight:800;
    padding-bottom: 10px;
}
.hero .text h1 span{
    font-size: 50px;
    font-weight:900;
    color: red;
}
.hero .text h3 {
    font-size: 30px;
    font-weight:900;
    padding-bottom: 10px;
    
}
.hero .text p {
    font-size: 20px;
    padding-bottom: 40px;
    
}
.hero .text .btn {

    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    background-color: #00fc15;
    
}
.hero .text .btn  span{
    font-size: 0;
    transition: 0.3s;
}
.hero .text .btn:hover span{
    font-size: 20px;
    
}
.hero .text .btn  i{
    position: relative;
    color: black;
    font-size: 35px;
    padding-right: 6px;
    padding-top: 10px;
    top: 7px;
    
}
.soc-link{
    position: relative;
    top: 500px;
    right:-250px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.soc-link a i{
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    margin-bottom: 30px;
    transition: 0.3s;
}
.soc-link a i:hover{
    color: red;
}

.work_section{
    background-color: #dbdbdb;  
    background-color: #EEEEEE;  
    
}
.section-title{
    text-shadow:12px 12px 15px #0000006b;
    position: relative;
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    top: 50px;
}
.work__container{
  
    grid-template-columns: repeat(3, 1fr);  
    padding-top: 50px;
    margin: 100px 0 0;
    display: grid;

    
}
.work__container .work__img{
height: 200px;
width:400px;
overflow: hidden;
border-radius: 30px;
box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.363);
margin: auto;
margin-bottom: 100px;
 
}
  .work__img img {
    transition: 1s;
    width: 100%;

  }
  
  .work__img img:hover {
    transform: scale(1.1);
  }
/*medea*/
@media (max-width:767px){
    .hero{
        width: 100vh;
    }
    .soc-link{
        top: 500px;
        right:-275px;
  
    }.work_section{ 
        width: 100vh;
        height: 150vh;   
  
    }
    .work__container{
  
        grid-template-columns: repeat(1, 1fr);  
    }
    .hero .text{
        position: relative;
        width: 20%; 
        right: -175px;
    }
    .hero .text h3{
      font-size: 25px;
    }
    .hero .text p{
      display: none;
    }
}
/*anmation*/
.hero  .text h1{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards ;
    animation-delay: 0.2s;
    opacity: 0;
}
@keyframes slide-top{
    0%{
        top:50px;
        opacity: 0;
    }
    100%{
        top:0;
        opacity: 1;
    }
}
.hero  .text h3{
    position: relative;
    right: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 0.9s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        right:100px;
        opacity: 0;
    }
    100%{
        right:0;
        opacity: 1;
    }
}
.hero  .text p{
    position: relative;
    left: 100px;
    animation: slide-left .5s linear forwards;
    animation-delay: 1.6s;
    opacity: 0;
}
@keyframes slide-left{
    0%{
        left:100px;
        opacity: 0;
    }
    100%{
        left:0;
        opacity: 1;
    }
}
.hero  .img img{
    opacity: 0;
   transform: scale(0.8);
   animation: fade-img .5s linear forwards;
   animation-delay: 3.0s;
}
@keyframes fade-img{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
.hero  .text .btn{
    position: relative;
    bottom: 50px;
    animation: slide-bottom .5s linear forwards ;
    animation-delay: 2.3s;
    opacity: 0;
}
@keyframes slide-bottom{
    0%{
        bottom:50px;
        opacity: 0;
    }
    100%{
        bottom:0;
        opacity: 1;
    }
}
.soc-link a i{
    opacity: 0;
   transform: scale(0.8);
   animation: fade-img2 .5s linear forwards;
   animation-delay: 3.7s;
}
@keyframes fade-img2{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}